/* #region-Variables */
:root {
    /* cColors */
    --primary-brand-color: #4D5AE5;
    --primary-text-color: #2E2F42;
    --description-text: #434455;
    --subtle-text: #8E8F99;
    --hero-background: #2E2F42B2;
    --white-background: #FFFFFF;

    /* Fonts */
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
        
}


/* #endregion-Variables */

/* #region-Base */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--white-background);
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
    margin: 0;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
    font-family: inherit;
}

img {
    display: block;
    max-width: 100%;
}

address {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
/* #endregion-Base */

/* #region-Header */
.header .header-logo {
    color: var(--primary-brand-color);
}

.header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-link {
    color: var(--primary-text-color);
}

.contact-item {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.logo-title {
    color: var(--primary-text-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.header-link:active,
.header-link:focus,
.contact-link:active,
.contact-link:focus {
    color: var(--pressed);
}
/* #endregion */

/* #region-Hero */
.hero-image {
    background-color: var(--primary-text-color);
}

.hero-title {
    color: var(--white-background);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.hero-button {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-background);
    background-color: var(--primary-brand-color);


}
/* #endregion */

/* *============================================================================================================================================== */
/* #region */
/* #endregion */
