:root {
    --primary-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --dark-color: #2E2F42;
    --success-color: #31D0AA;
    --text-color: #434455;
    --subtle-text: #8E8F99;
    --accent-color: #E7E9FC;
    --light-color:#F4F4FD;
    --modal-overlay: #2E2F4266;
    --hero-background: #2E2F42B2;
    --white-background: #FFFFFF;
    --modal-background: #FCFCFC;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--dark-color);
    background-color: var(--white-background);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    font-family: inherit;
}

address {
    font-style: normal;
}

/* Header */

.header 

.header-logo {
    color: var(--primary-brand-color);
}

.header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-link.link.current {
    color: var(--accent-color);
}

.header-contact {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.logo-title {
    color: var(--tetriary-text-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

/* ehdHeader */
   
/* Hero */

.hero-image {
    background-color: var(--dark-color);
    /* width: 1440px;
    height: 600px; */
}

.hero-title {
    color: var(--white-background);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.hero-button {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-background);
    background-color: var(--primary-brand-color);
    

}

/* endHero */

